.form-data{
    width: 100%;
    height: 100%;
    background-color: chocolate;
    /* overflow: auto; */
}

.design-form-top{
    width: 100%;
    height: 70%;
    display: flex;
}

.type-design{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    overflow: auto;
}

.icon-list{
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
}

.form-action{
    width: 100%;
    height: 30%;
    background-color: darkgrey;
}

.appear-process{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: fuchsia;
}

.process-icon{
    display: flex;
    height: 100%;
    width: 40px;
    justify-content: center;
    align-items: center;
}

.process-text{
    display: flex;
    align-items: center;
    height: 100%;
}

.disappear{
    display: none !important;
}