@import url(designWeb/mainWeb.css);
@import url(component/InputWrapper.css);
@import url(component/DesignForm.css);
@import url(component/TextBox.css);
@import url(component/Page.css);
@import url(component/Story.css);
@import url(designArea.css);
*{
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

.ngang{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

p{
    display: inline;
    font-size: 20px;
}