.grid-pic:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.grid-item {
  display: grid;
  grid-template-rows: auto;
  margin-bottom: 10px;
  break-inside: avoid;
  padding: 5%;
}

.grid-item > img {
  /* grid-row: 1 / -1;
      grid-column: 1; */
  border-radius: 20px;
}
.gridlayout, .animal-screen, .human-screen, .natural-screen, .love-screen, .search-screen {
  column-count: 5;
  column-gap: 10px;
}
.title {
  grid-row: 3;
  grid-column: 1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.2em 0.5em;
  justify-self: center;
}
